<div class="p-3">
  <div class="card">
    <div class="card-header">Authentocation </div>
    <div class="alert alert-danger m-2" *ngIf="errorMessage">
      {{errorMessage }}
    </div>
    <div class="card-body">
      <form [formGroup]="formLoginGroup" (ngSubmit)="handelLogin()">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" placeholder="username" class="form-control"  formControlName="username">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" placeholder="password" class="form-control" formControlName="password">
        </div>
        <button class="btn btn-success ">Login</button>
      </form>
    </div>
  </div>
</div>
