<div class="p-3">
  <div class="card">
    <div class="card-body">
      <ul class="nav nav-pills">
        <!-- Total pages-->
        <li>
          <label class="border border-danger p-1 bg-danger text-white m-2">
            Total pages : {{this.appStateService.productsState.totalPages}}</label>
        </li>

        <!-- page size-->
        <li>
          <label class="border border-info p-1 bg-info text-white m-2">
            Size page : {{this.appStateService.productsState.pageSize}}</label>
        </li>

        <!-- checked product -->
        <li>
          <label class="border border-success p-1 bg-success text-white m-2">
            Checked products : {{totalCheckedProducts()}}</label>
        </li>

        <!-- total products -->
        <li>
          <label class="border border-primary p-1 bg-primary  p-1  text-white m-2">
            Total products : {{this.appStateService.productsState.totalProducts}}</label>
        </li>
      </ul>
    </div>
  </div>
</div>
